/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background-color: #FFC0CB; /* Rosa claro */
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Productos */
#productos {
    background-color: #FFD700; /* Amarillo dorado */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ubicación */
#ubicacion {
    background-color: #FF69B4; /* Rosa medio */
    padding: 20px;
}

/* Pie de página */
footer {
    background-color: #FFC0CB; /* Rosa claro */
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
